/* Section News Image Slider */
.newsButtonNext {
  border: none;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  top: 138%;
  right: 42.5%;
}

@media only screen and (min-width: 1785px) and (max-width: 1805px) {
  .newsButtonNext {
    right: 47.5%;
  }
}

@media only screen and (min-width: 1764px) and (max-width: 1784px) {
  .newsButtonNext {
    right: 46.5%;
  }
}

@media only screen and (min-width: 1743px) and (max-width: 1763px) {
  .newsButtonNext {
    right: 45.5%;
  }
}

@media only screen and (min-width: 1722px) and (max-width: 1742px) {
  .newsButtonNext {
    right: 44.5%;
  }
}

@media only screen and (min-width: 1711px) and (max-width: 1721px) {
  .newsButtonNext {
    right: 44.5%;
  }
}

@media only screen and (min-width: 1681px) and (max-width: 1700px) {
  .newsButtonNext {
    right: 43.5%;
  }
}

@media only screen and (min-width: 1661px) and (max-width: 1680px) {
  .newsButtonNext {
    right: 42.5%;
  }
}

@media only screen and (min-width: 1640px) and (max-width: 1660px) {
  .newsButtonNext {
    right: 41.5%;
  }
}

@media only screen and (min-width: 1621px) and (max-width: 1639px) {
  .newsButtonNext {
    right: 40.5%;
  }
}

@media only screen and (min-width: 1608px) and (max-width: 1620px) {
  .newsButtonNext {
    right: 39.5%;
  }
}

@media only screen and (min-width: 1580px) and (max-width: 1607px) {
  .newsButtonNext {
    right: 38.5%;
  }
}

@media only screen and (min-width: 1560px) and (max-width: 1579px) {
  .newsButtonNext {
    right: 37.5%;
  }
}

@media only screen and (min-width: 1540px) and (max-width: 1559px) {
  .newsButtonNext {
    right: 36.5%;
  }
}

@media only screen and (min-width: 1520px) and (max-width: 1539px) {
  .newsButtonNext {
    right: 35.5%;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1519px) {
  .newsButtonNext {
    right: 34.5%;
  }
}

@media only screen and (min-width: 1480px) and (max-width: 1499px) {
  .newsButtonNext {
    right: 33.5%;
  }
}

@media only screen and (min-width: 1460px) and (max-width: 1479px) {
  .newsButtonNext {
    right: 32.5%;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1459px) {
  .newsButtonNext {
    right: 31.5%;
  }
}

@media only screen and (min-width: 1420px) and (max-width: 1439px) {
  .newsButtonNext {
    right: 30.5%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1419px) {
  .newsButtonNext {
    right: 29.5%;
  }
}

@media only screen and (min-width: 1380px) and (max-width: 1399px) {
  .newsButtonNext {
    right: 28.5%;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1379px) {
  .newsButtonNext {
    right: 27.5%;
  }
}

@media only screen and (min-width: 1340px) and (max-width: 1359px) {
  .newsButtonNext {
    right: 26.5%;
  }
}

@media only screen and (min-width: 1320px) and (max-width: 1339px) {
  .newsButtonNext {
    right: 25.5%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1319px) {
  .newsButtonNext {
    right: 24.5%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1299px) {
  .newsButtonNext {
    right: 23.5%;
  }
}

@media only screen and (min-width: 1260px) and (max-width: 1279px) {
  .newsButtonNext {
    right: 22.5%;
  }
}

@media only screen and (max-width: 1279px) {
	.newsButtonNext {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
  .containerNews{
    height: 235px;
  }
	.imagesNews {
		width: 390px !important;
    height: 200px !important;
	}
}

/* .swiper-custom-pagination {
  display: flex;
  gap: 13px;
}
.swiper-pagination-bullet-active {
  background-color: #265290 !important;
}

.container-description > p {
  font-size: 100px;
} */
