/* @media (min-width: 780px) {
  .rekomendasiNewsCardSwiper {
    width: 284px !important ;
  }
}

@media (max-width: 1024px) {
  .rekomendasiNewsCardSwiper {
    width: 200px !important ;
  }
}

@media (max-width: 1440px) {
  .rekomendasiNewsCardSwiper {
    width: 384px !important ;
  }
} */
