.test{
  right: -10%;
}

@media screen and (max-width: 1470px) {
  .test {
    right: -5%;
  }
}

@media screen and (max-width: 1350px) {
  .test {
    right: -2%;
  }
}

@media screen and (max-width: 1160px) {
  .test {
    right: 0%;
  }
}


@media (min-width: 340px) {
  .containerSliderSecond {
    padding-left: 60px;
  }
}

@media (min-width: 425px) {
  .containerSliderSecond {
    padding-left: 80px;
  }
}

@media (min-width: 479px) {
  .containerSliderSecond {
    padding-left: 110px;
  }
}

@media (min-width: 525px) {
  .containerSliderSecond {
    padding-left: 130px;
  }
}
