 .swiper-pagination-bullet {
   border-radius: 1000px;
   width: 20px !important;
   height: 20px !important;
   display: block;
   background: #265290;
 }
 
 .swiper-pagination-bullet-active {
   border-radius: 1000px;
   width: 20px !important;
   height: 20px !important;
   display: block;
   background: #265290;
 }