@media screen and (max-width: 1460px) and (min-width: 1280px) {
  .detailTopNewsTitle {
    font-size: 15px;
  }
  .detailTopNewsImage {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 1343px) and (min-width: 1280px) {
  .detailTopNewsTitle {
    font-size: 12px;
  }
  .detailTopNewsImage {
    width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 378px) {
  .topHeadlineNews{
    font-size: 16px;
  }
}


.swiper-custom-pagination {
  display: flex;
  gap: 13px;
}
.swiper-pagination-bullet-active {
  background-color: #265290 !important;
}

.container-description > p {
  font-size: 100px;
}