@media only screen and (max-width: 640px) {
    .eventButton {
        width: 50px !important;
        height: 50px !important;
    }
}

@media only screen and (max-width: 370px) {
    .dvisionEventCardContainer {
        width: 270px !important;
    }
}

@media only screen and (max-width: 360px) {
    .dvisionCardName {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 340px) {
    .dvisionEventCardContainer {
        width: 250px !important;
    }
}

@media only screen and (max-width: 330px) {
    .dvisionEventCardContainer {
        width: 240px !important;
    }
}