@media screen and (max-width: 640px) {
    .heroImage {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 528px) {
    .heroImage {
        width: 100%;
        height: 180px;
    }
}

@media screen and (max-width: 428px) {
    .heroImage {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 378px) {
    .heroImage {
        width: 100%;
        height: 130px;
    }
}

.topNewsTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
}