/* Responsive Project Section  */
@media only screen and (max-width: 376px) {
    .imageThumbnail {
        max-width: 260px;
        max-height: 230px;
    }
    .outerThumbnail {
        top: 1690px;
    }
    .outerDesc {
        margin-top: 170px;
    }
}

@media only screen and (max-width: 372px) {
    .outerThumbnail {
        top: 1720px;
    }
}

@media only screen and (max-width: 364px) {
    .outerThumbnail {
        top: 1760px;
    }
}

@media only screen and (max-width: 356px) {
    .outerDesc {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 339px) {
    .buttonRepository {
        font-size: 15px;
    }
}
