/* Division Section */
@media only screen and (max-width: 914px) {
  .divisionContainerCard {
    max-width: 77%;
  }
}

@media only screen and (max-width: 876px) {
  .divisionContainerCard {
    max-width: 76%;
  }
}

@media only screen and (max-width: 841px) {
  .divisionContainerCard {
    max-width: 75%;
  }
}

@media only screen and (max-width: 807px) {
  .divisionContainerCard {
    max-width: 74%;
  }
}

@media only screen and (max-width: 777px) {
  .divisionContainerCard {
    max-width: 73%;
  }
}

@media only screen and (max-width: 768px) {
  .divisionContainerCard {
    max-width: 100%;
  }
}

@media only screen and (max-width: 344px) {
  .divisionTagline {
    padding-inline: 30px;
  }
}

/* Project Section */
.projectsOuterRepo:hover {
  border: 2px solid black;
}

.projectsIconRepo:hover,
.projectsOuterRepo:hover .projectsIconRepo {
  fill: #000000;
}

@media only screen and (max-width: 568px) {
  .projectsCardThumbnail {
    top: 2020px !important;
  }
}

@media only screen and (max-width: 424px) {
  .projectsCardThumbnail {
    top: 2000px !important;
  }
}

@media only screen and (max-width: 416px) {
  .projectsCardThumbnail {
    top: 2030px !important;
  }
}

@media only screen and (max-width: 402px) {
  .projectsCardThumbnail {
    top: 2015px !important;
  }
}

@media only screen and (max-width: 395px) {
  .projectsDesc {
    margin-top: 185px;
  }
}

@media only screen and (max-width: 384px) {
  .projectsDesc {
    margin-top: 170px;
  }
}

@media only screen and (max-width: 383px) {
  .projectsCardThumbnail {
    top: 2030px !important;
  }
}

@media only screen and (max-width: 376px) {
  .projectsThumbnailImage {
    max-width: 260px;
    max-height: 230px;
  }
}

@media only screen and (max-width: 374px) {
  .projectsCardThumbnail {
    top: 2050px !important;
  }
}

@media only screen and (max-width: 364px) {
  .projectsDesc {
    margin-top: 170px;
  }
  .projectsCardThumbnail {
    top: 2065px !important;
  }
}

@media only screen and (max-width: 360px) {
  .projectsCardThumbnail {
    top: 2090px !important;
  }
}

@media only screen and (max-width: 356px) {
  .projectsDesc {
    margin-top: 170px;
  }
  .projectsOuterRepo {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 348px) {
  .projectsThumbnailImage {
    max-width: 240px;
    max-height: 220px;
  }
}
